@import url('~antd/dist/antd.css');

.App {
  font-family: 'Open Sans', sans-serif;
}

.content button {
  margin-left: 8px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-width: 0px;
  font-family: 'Open Sans', sans-serif;
}

img {
  height: 100px;
  width: 130px;
  margin-left: 30px;

}

div .sidecontent {
  height: 1000px;
  width: 200px;
  background: rgb(255, 255, 255)
}

ul {
  width: inherit;
	height: inherit;
}

header button {
  margin-left: 8px;
  margin-top: 5.5%;
  height: 30px;
}

.right-btn {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.registration {
  width: 100%
}

/* header {
  height: 100px;
  width:100%;
  display: flex;
  flex-direction: row;
  background: rgb(14,38,75);
  background: linear-gradient(180deg, rgba(14,38,75,1) 16%, rgba(132,193,255,1) 100%);
  margin-left: 0px; 
  margin-right: 0px;
}

img {
  height: 100px;
  width: 130px;
  margin-left: 30px;

}

p {
  margin-left: 20px;
  margin-right: 20px;
}

ul {
	float: right;
  display: flex;
  flex-direction: row;
	height: 20px;
	padding: 6px 35px 5px 28px;
	color: #fff;
	text-decoration: none;
  list-style: none;
}

div .sidecontent {
  height: 1000px;
  width: 200px;
  background: rgba(132,193,255,1)
}

div .menubar {
  width: auto;
  margin-left: 80px;
}

ul {
  height: 50px;
  margin: 25px 0px;
}

.menubar a {
 padding: 6px 35px 5px 28px;
 font-size: 30px;
 color: rgb(0, 0, 0) !important;
 text-decoration: none
}

.menubar a:hover {
  color: rgb(53, 174, 255)!important
 }

h2 {
  margin-top: 0;
  padding-top: 20px;
  padding-left: 10px
}

.App {
  margin-left: auto;
	margin-right: auto;
}

form {
  padding-left: 10px;
}

.main {
  display:inline-flex;
}

.sidebar a {
  text-decoration: none;
  color:black
}

.content {
  width: max-content;
  padding-top: 40px;
  padding-left: 20px;
}
/*
.content button {
  margin-left: 8px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border-width: 0px;
  height: 30px;
  width: 92px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background: #578ed1; 
}

.content button:hover {
background: #fff;
color: #578ed1;
box-shadow: inset 0 0 0 3px #578ed1;
}


.content input {
  height: 25px;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0px 3px 6px #00000029;
  border-width: 0px;
}

.lables_passreg_text {
  margin-top: 5px;
}

.btn input {
  margin-bottom: 20px;
}

.somesthing div {
   width: max-content;
   padding: 20px;
}
 */
